* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    background: #FFF;
    color: #000;
    scroll-behavior: smooth;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.navigation {
    background-color: #222;
    margin: 0 auto;
}

.navigation .container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.navigation .leftSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.navigation .rightSide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 41px;
}

.navButton {
    background-color: #222;
    border: none;
    cursor: pointer;
}

.banner {
    background-color: #F1E4E6;
}

.bannerContainer {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 0px;
}

.brand_texts {
    color: #222;
    font-family: Lato, sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
    margin-right: 300px;
    min-width: 400px;
}

.brand_text1 {
    color: #222;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.brand_text2 {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.section1 {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 65px;
    gap: 30px;
}

.section1 .item {
    background-repeat: space;
    background-position: center;
}

.for_men {
    background-image: url("./img/for_men.png");
    min-height: 260px;
}

.for_woman {
    background-image: url("./img/for_woman.png");
    min-height: 260px;
}

.for_kids {
    background-image: url("./img/for_kids.png");
    min-height: 260px;
}

.for_men .fill, .for_woman .fill, .for_kids .fill {
    min-height: 260px;
}

.accesories {
    background-image: url("./img/accesories.png");
    grid-column-start: 1;
    grid-column-end: 4;
    min-height: 180px;
}

.accesories .fill {
    min-height: 180px;
}

.fill {
    background-color: rgba(33, 22, 22, 0.70);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section1 .item .text1 {
    color: #FFF;
    text-align: center;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section1 .item .text2 {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}

.fetured_items {
    margin-top: 96px;
}

.fetured_items h1 {
    color: #222;
    font-family: Lato, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: center;
}

.fetured_items .description {
    color: #9F9F9F;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
    text-align: center;
}

.fetured_box {
    display: grid;
    align-content: center;
    justify-content: center;
    align-items: center;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 57px;
    gap: 30px;
}

.fetured_item {
    background-color: #F8F8F8;
    background-repeat: space;
    background-position: center;
}

.fetured_text {
    padding: 24px 16px;
}

.fetured_title {
    color: #000;
    font-family: Lato, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured_description {
    color: #5D5D5D;
    font-family: Lato, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 16px 0;
}

.fetured_price {
    color: #F16D7F;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.fetured_items .buttons {
    display: flex;
}

.fetured_all {
    color: #F26376;
    font-family: Lato, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 38px auto 60px auto;
    padding: 15px 39px 14px 39px;
    background-color: #FFF;
    border: 1px solid #F25822;
    cursor: pointer;
}

@media (max-width: 1050px) and (min-width: 680px) {
    .navigation .container {
        margin-left: 32px;
        margin-right: 41px;
    }

    .bannerContainer {
        justify-content: center;
        gap: 40px;
    }

    .brand_texts {
        margin: 0 0 0 0;
    }

    .bannerContainer img {
        max-height: 386px;
    }

    .brand_texts {
        font-size: 44px;
        border-left: 16px solid #F16D7F;
    }

    .brand_text1 {
        font-size: 24px;
    }

    .brand_text2 {
        font-size: 24px;
    }
}

@media (max-width: 679px) {
    .bannerContainer {
        justify-content: center;
        min-height: 364px;
    }

    .brand_texts {
        margin: 0 auto 0 auto;
        min-width: 0;
    }

    .bannerContainer img {
        display: none;
    }

    .brand_texts {
        font-size: 38px;
    }

    .brand_text1 {
        font-size: 20px;
    }

    .brand_text2 {
        font-size: 20px;
    }
}

@media (max-width: 1172px) {
    .container {
        margin-left: 16px;
        margin-right: 16px;
    }
}

@media (max-width: 768px) {
    .for_men, .for_woman, .for_kids{
        min-height: 168px;
    }

    .for_men .fill, .for_woman .fill, .for_kids .fill {
        min-height: 168px;
    }

    .accesories {
        min-height: 116px;
    }

    .accesories .fill {
        min-height: 116px;
    }

    .fetured_items {
        margin-top: 109px;
    }

    .fetured_box {
        padding-top: 72px;
        gap: 16px;
    }

    .fetured_text {
        padding: 26px 18px;
    }

    .fetured_description {
        margin: 13px 0;
    }

    .fetured_all {
        margin: 33px auto 70px auto;
    }
}

@media (max-width: 735px) and (min-width: 376px) {
    .fetured_box {
        grid-template-columns: 1fr 1fr;
    }

    .fetured_items {
        margin-right: 16px;
        margin-left: 16px;
    }
}

@media (max-width: 375px) {
    .navigation .buttonProfile, .navigation .buttonBasket {
        display: none;
    }
    .section1 {
        grid-template-columns: 1fr;
    }

    .fetured_box {
        grid-template-columns: 1fr;
    }

    .accesories {
        grid-column-end: 2;
    }

    .for_men, .for_woman, .for_kids{
        min-height: 247px;
    }

    .for_men .fill, .for_woman .fill, .for_kids .fill {
        min-height: 247px;
    }

    .accesories {
        min-height: 111px;
        background-image: url("./img/accesories2.png");
    }

    .accesories .fill {
        min-height: 111px;
    }

    .fetured_items {
        margin-right: 8px;
        margin-left: 8px;
        margin-top: 64px;
    }

    .fetured_box {
        padding-top: 65px;
    }

    .fetured_description {
        margin: 13px 0 18px 0;
    }

    .fetured_all {
        margin: 40px auto 85px auto;
    }
}