.catalog {
    display: table;
    width: 100%;
}

.catalog-line {
    display: table-row;
    width: 100%;
}

.catalog-cell {
    padding: 20px;
    display: table-cell;
    width: 33.33%;
}

.catalog-cell img {
    width: 100%;
    border-radius: 10px;
}

.catalog-title {
    font-size: 24px;
    text-align: center;
    margin: 10px 0;
}

.catalog-about {
    text-align: justify;
}

a {
    text-decoration: none;
}

.top-menu a {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.top-menu a:hover {
    color: red;
}

.top-menu a:focus-visible {
    /*border: 2px solid red;*/
    color: red;
    outline: none;
}

.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987
}

.hello {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.title {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.feedback {
    width: 360px;
}

.feedback input, textarea{
    margin: 10px 0;
    display: block;
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px;
    background-color: #DCDCDC;
}

.feedback input:focus, textarea:focus{
    background-color: white;
}

.feedback button {
    width: 100px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 10px;
    cursor:pointer;
}

.feedback input::placeholder, textarea::placeholder {
    font-family: "Times New Roman", serif;
    letter-spacing: 4px;
}

body {
    font-family: sans-serif;
}
